<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
global.jQuery = require('jquery');
var $ = global.jQuery;
window.$ = $;

export default {
    mounted() {
      let account = this.$cookies.get('account');
      if(account){
        this.$store.dispatch("setState" , {key:"account" , value:account}).then(()=>{
          this.$store.dispatch("setState" , {key:"isUser" , value:true}).then(()=>{
            this.$router.replace("/");
          })
        })
      }
    }
}
</script>

<style lang="scss">

@font-face {
  font-family: shabnam;
  src: url("./assets/fonts/shabnam/Shabnam-FD.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  direction: rtl;
  text-align: right;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #009970;
}

a:hover {
  color: #00cc95;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

</style>
