<template>
    <div>
        <Header></Header>
        <AddPost></AddPost>
        <Footer></Footer>
    </div>
</template>

<script>
import Header from '@/components/main/Header';
import AddPost from '@/components/user/AddPost';
import Footer from '../components/main/Footer.vue';
export default {
    name: "AddPostPage",
    components: {
        Header,
        AddPost,
        Footer
    }
}
</script>
