<template>
    <div>
        <Header></Header>
        <MainContent></MainContent>
        <Footer></Footer>
        <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    </div>
</template>

<script>
    import Header from '@/components/main/Header';
    import MainContent from '@/components/main/MainContent';
    import Footer from '@/components/main/Footer';
    export default {
        name: "MainContentPage",
        components: {
            Header,
            MainContent,
            Footer,
        }
    }
</script>

<style scoped>
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #009970;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #00805d;
  color: #fff;
}

</style>