<template>
    <div>
        <Header></Header>
        <Profile></Profile>
        <Footer></Footer>
    </div>
</template>

<script>
import Header from '@/components/main/Header';
import Profile from '@/components/user/Profile';
import Footer from '../components/main/Footer.vue';
export default {
    name: "profile",
    components: {
        Header,
        Profile,
        Footer
    }
}
</script>
