<template>
    <div>
        <SignUpForm></SignUpForm>
        <Footer></Footer>

    </div>
</template>

<script>
    import SignUpForm from '@/components/user/SignUpForm';
    import Footer from '@/components/main/Footer';
    export default {
        name: "SignUp",
        components: {
            SignUpForm,
            Footer,
        }
    }
</script>

<style scoped>

</style>