<template>
    <div>
    <!-- ======= Footer ======= -->
        <footer id="footer">
            <div class="footer-top">
            <div class="container">
                <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>ایران‌گرد</h3>
                    <p>
                    <br>
                    مشهد،... <br>
                    خیابان ...،<br>
                    ایران <br><br>
                    <strong>تلفن:</strong> 0513333333 <br>
                    <strong>ایمیل:</strong> info@example.com  <br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>خدمات</h4>
                    <ul>
                    <li><i class="bx bx-chevron-left"></i> <a href="#">صفحه اصلی</a></li>
                    <li><i class="bx bx-chevron-left"></i> <a href="#">درباره ما</a></li>
                    <li><i class="bx bx-chevron-left"></i> <a href="#">تماس با ما</a></li>
                    <li><i class="bx bx-chevron-left"></i> <a href="#">قوانین و مقررات</a></li>
                    <li><i class="bx bx-chevron-left"></i> <a href="#">اطلاعات تکمیلی</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>لینک های مرتبط</h4>
                    <ul>
                    <li><i class="bx bx-chevron-left"></i> <a href="#">مقایسه و رزرو هتل در شهرهای ایران</a></li>
                    <li><i class="bx bx-chevron-left"></i> <a href="#">آشنایی با روش های کسب درآمد در سفر</a></li>
                    <li><i class="bx bx-chevron-left"></i> <a href="#">سوالات متداول</a></li>
                    <li><i class="bx bx-chevron-left"></i> <a href="#">توصیه های امنیتی</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter">
                    <h4>عضویت در خبرنامه</h4>
                    <p>برای اطلاع از ثبت مکان‌های جدید و عضویت در خبرنامه ایمیل خود را وارد کنید:</p>
                    <form action="" method="post">
                    <input type="email" name="email"><input type="submit" value="عضویت">
                    </form>
                </div>

                </div>
            </div>
            </div>

            <div class="container d-md-flex py-4">
              
            <div class="social-links text-center text-md-right pt-3 pt-md-0">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            </div>
        </footer><!-- End Footer -->
    </div>
  
</template>

<script>
export default {
  name: 'Footer',
}
</script>

<style scoped>


p,h1,h2,h3,h4,h5,input,label{
  font-family: shabnam;
}

#footer {
  color: #444444;
  font-size: 14px;
  background: #f1f0f2;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #f9f8f9;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #00c28e;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #009970;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #e4e3e6;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #009970;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #00664b;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #009970;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #00805d;
  color: #fff;
  text-decoration: none;
}



</style>
