<template>
  <div id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div
        :class="{
          'header-container': scrollPos < 100,
          'header-scrolled': scrollPos > 100,
        }"
      >
        <nav class="navbar navbar-expand-lg navbar-dark">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarToggler"
            aria-controls="navbarTogglerDemo03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="logo mr-auto">
            <h1 class="text-light">
              <a class="navbar-brand" href="#"><span>ایران ‌گرد</span></a>
            </h1>
          </div>

          <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="/"
                  >صفحه اصلی <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#services">خدمات</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#about">درباره ما</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/#contact">ارتباط با ما</a>
              </li>
            </ul>

            <form class="form-inline my-2 my-lg-0" v-if="!isUser">
              <button class="btn my-2 my-sm-0" type="submit" @click="gotoSignUp">ورود</button>
            </form>
            <div v-else class="mr-3 pt-1">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1YjmQy7iBycLxXrdwvrl38TG9G_LxSHC1eg&usqp=CAU"
                alt=""
                class="img-fluid rounded-circle avatar avatar-ex-sm rounded-pill shadow"
              />
              
              <button class="btn prof" @click="gotoProfile">پروفایل</button>

              <button class="btn logout mr-1 p-1" @click="logOut">خروج</button>
            </div>
            
          </div>
        </nav>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "mainHeader",
  data: () => {
    return {
      scrollPos: 0,
    };
  },
  mounted() {
    var that = this;
    window.addEventListener("scroll", function () {
      that.scrollPos = window.scrollY;
    });
  },
  computed: {
    ...mapState({
      isUser: (state) => state.isUser,
      account: (state) => state.account,
    }),
  },
  methods: {
    gotoProfile() {
      this.$store
        .dispatch("setState", { key: "selectedProfile", value: this.account })
        .then(() => {
          this.$router.push("/user/profile");
          window.scrollTo(0, 0);
        });
    },
    logOut(){
      this.$store.dispatch("setState", { key: "selectedProfile", value: {} })
        .then(() => {
      });
      this.$cookies.remove("account");
      this.$router.push("/signUp");
      window.scrollTo(0, 0);
    },
    gotoSignUp(){
      this.$router.push("/signUp");
      window.scrollTo(0, 0);
    }
  },
};
</script>

<style scoped>

p,h1,h2,h3,h4,h5,input,label,a{
  font-family: shabnam !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  top: 0px;
}

#header .header-container {
  position: relative;
  background: #fff;
  width: 100%;
  top: 20px;
}

#header .header-scrolled {
  position: relative;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  top: 0px;
}

#header .logo {
  overflow: hidden;
  background: #009970;
}

#header .header-scrolled .navbar .logo h1 a span,
#header .header-container .navbar .logo h1 a span {
  font-size: 26px;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header .header-scrolled .navbar .logo h1 a,
#header .header-container .navbar .logo h1 a {
  color: #fff;
  text-decoration: none;
}

#header .header-scrolled .navbar a,
#header .header-container .navbar a {
  display: block;
  position: relative;
  color: #36343a;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}

#header .header-scrolled .navbar a:hover,
#header .header-container .navbar a:hover,
#header .header-scrolled .navbar .active > a,
#header .header-container .navbar .active > a,
#header .header-scrolled .navbar li:hover > a,
#header .header-container .navbar li:hover > a {
  color: #009970;
  text-decoration: none;
}

#header .header-scrolled .navbar form .btn,
#header .header-container .navbar form .btn {
  background: #009970;
  color: #fff;
  border-radius: 50px;
  margin: 0 15px;
  padding: 10px 25px;
  margin-left: 50px;
}

#header .header-scrolled .navbar form .btn:hover,
#header .header-container .navbar form .btn:hover {
  background: #00805d;
  color: #fff;
}

@media (max-width: 992px) {
  #header {
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    top: 0;
    background: #009970;
  }
  #header .header-container {
    top: 0px;
  }
  #header .header-scrolled,
  #header .header-container {
    background: #009970;
  }
  #header .logo h1 {
    font-size: 24px;
  }

  #header .header-scrolled .navbar *,
  #header .header-container .navbar * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  #header .header-scrolled .navbar a,
  #header .header-container .navbar a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    outline: none;
  }

  #header .header-scrolled .navbar a:hover,
  #header .header-container .navbar a:hover,
  #header .header-scrolled .navbar .active > a,
  #header .header-container .navbar .active > a,
  #header .header-scrolled .navbar li:hover > a,
  #header .header-container .navbar li:hover > a {
    color: #1cb98f;
    text-decoration: none;
  }

  #header .header-scrolled .navbar form .btn,
  #header .header-container .navbar form .btn {
    text-align: center;
    background: #fff;
    color: #009970;
  }

  #header .header-scrolled .navbar form .btn a,
  #header .header-container .navbar form .btn a {
    border-radius: 50px;
    margin: 0 15px;
    padding: 10px 25px;
    display: inline-block;
  }

  #header .header-scrolled .navbar form .btn a:hover,
  #header .header-container .navbar form .btn a:hover {
    background: #00c28e;
    color: #fff;
  }
}

.avatar.avatar-ex-sm {
  height: 36px;
}
.prof:hover{
  color: #00c28e;
}
.logout{
  color: #fff;
  background-color: #00c28e ;
  
}
</style>