<template>

<div>
  <div class="row" data-aos="fade-up" data-aos-delay="100">
    <div class="col-lg-12 d-flex justify-content-center">
      <ul id="portfolio-flters">
        <li @click="defaultFilter = 0"  :class="{'filter-active' : defaultFilter == 0}">همه</li>
        <li  @click="defaultFilter = 1"  :class="{'filter-active' : defaultFilter == 1}">جدیدترین‌ها</li>
        <li  @click="defaultFilter = 2"  :class="{'filter-active' : defaultFilter == 2}">پربازدیدترین‌ها </li>
      </ul>
    </div>
  </div>

  <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
    <div class="container mt-100 mt-60">
    <div class="row">
      <div
        class="container col-lg-6"
        :key="index"
        v-for="(item, index) in paginatedItems2"
      >
        <div class="blog-post rounded border">
          <div class="blog-img d-block overflow-hidden position-relative">
            <img
              :src="`http://185.81.96.129:8080` + item.image"
              class="img-fluid rounded-top"
              alt=""
            />
            <div class="overlay rounded-top bg-dark"></div>
            <div class="post-meta">
              <a class="text-light read-more" @click.prevent="gotoPost(item)"
                ><i class="bx bx-chevron-left"></i>اطلاعات بیشتر</a
              >
            </div>
          </div>
          <div class="content p-3">
            <small class="text-muted p float-right">{{
              new Date(item.created_at).toLocaleDateString("fa-Ir")
            }}</small>
            <h4 class="mt-2">
              <a href="javascript:void(0)" class="text-dark title">{{
                item.title
              }}</a>
            </h4>

            <p class="text-muted mt-2">
              {{ item.description.substr(0, 200) + "..." }}
            </p>
            <div class="pt-3 mt-3 border-top d-flex">
              
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1YjmQy7iBycLxXrdwvrl38TG9G_LxSHC1eg&usqp=CAU"
                alt=""
                class="img-fluid rounded-circle avatar avatar-ex-sm rounded-pill mr-3 shadow"
              />
              <div class="author mt-2">
                <h6 class="mb-0">
                  <a  class="text-dark name" @click.prevent="gotoProfile(item.author)">{{
                    `${item.author.first_name} ${item.author.last_name}`
                  }}</a>
                </h6>
                <button class="btn btn-remove-post" v-if="isMyProfile" @click="removePost(item)"> <i class="bx bx-minus"></i> حذف پست</button>
              </div>
            </div>
          </div>
        </div>
        <!--end blog post-->
      </div>
    </div>
    <!--end row-->

    <b-row>
      <b-pagination
        @change="onPageChanged"
        :total-rows="totalRows2"
        :per-page="perPage"
        v-model="currentPage"
        class="my-pagination"
      />
    </b-row>
  </div>
  </div>
</div>



  
</template>

<script>
import axios from "axios";
import { mapState } from "vuex";
export default {
  name: "posts",
  props: {
      allPosts : Array,
      isMyProfile: Boolean
  },
  data() {
    return {
      items2: this.allPosts,
      paginatedItems2: this.allPosts,
      currentPage: 1,
      perPage: 4,
      defaultFilter: 0,
    };
  },
  computed: {
    ...mapState({
      account : state => state.account,
    }),
    totalRows2() {
      return this.allPosts.length ?? 0;
    },
 
  },
  watch: {
    defaultFilter(){
      this.paginate(this.perPage, 0);
    }
  },
  mounted() {
    this.fetchAllPosts().then(() => {
      this.paginate(this.perPage, 0);
    });
  },
  methods: {
    fetchAllPosts() {
      return new Promise((resolve, reject) => {
        axios.get("/posts_management/post/").then((resposnse) => {
            this.$store.dispatch("fetchAllPosts", resposnse.data.data).then(() => {
                resolve();
            });
          })
          .catch(() => {
            reject();
          });
      });
    },

    paginate(page_size, page_number) {
      let itemsToParse2 = this.ChangeFilter();
      this.paginatedItems2 = itemsToParse2.slice(
        page_number * page_size,
        (page_number + 1) * page_size
      );
    },
    onPageChanged(page) {
      this.paginate(this.perPage, page - 1);
    },
    gotoPost(post) {
      this.$store.dispatch("setState" , {key: "selectedPost" , value:post}).then(()=>{
        this.$router.replace("/onePost");
        window.scrollTo(0, 0);
      });
    },
    gotoProfile(profile) {
      this.$store.dispatch("setState" , {key: "selectedProfile" , value:profile}).then(()=>{
        this.$router.push("/user/profile");
        window.scrollTo(0, 0);
      });
    },
    ChangeFilter(){
      let data = JSON.parse(JSON.stringify(this.allPosts));
      switch(this.defaultFilter){
        case 0:
          return data;
        case 1:
          return data.sort((a, b)=> b.created_at - a.created_at)
        case 2:
          return  data.sort((a, b)=> a.id - b.id)  
      }
    },
    removePost(post) {
      axios({
          method : 'delete',
          url: "/posts_management/post/",
          params:{
            pk: post.id
          },
          headers: {
            Authorization : "Token " + this.account.token
          }
        }).then((response)=>{ 
          this.$emit('remove');
          //  this.fetchAllPosts().then(() => {
          //    this.paginate(this.perPage, 0);
          //  });
          console.log(response)
        }).catch((er)=>{
          console.log(er);
        })
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>

p,h1,h2,h3,h4,h5,input,label,li{
  font-family: shabnam;
}

#portfolio-flters {
  padding: 0;
  margin: 0 auto 20px auto;
  list-style: none;
  text-align: center;
  
}

#portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 50px;
  font-family: shabnam;
}

#portfolio-flters li:hover,#portfolio-flters li.filter-active {
  color: #fff;
  background: #009970;
}

#portfolio-flters li:last-child {
  margin-right: 0;
}


.page-item.active .page-link {
  background-color: #009970 !important;
  border-color: #009970 !important;
}

.page-link{
  color: #009970 !important;
}

.btn{
  background-color: #009970;
  color: #fff;
  margin-right: 10px;
  border: 1px solid #009970;
}

.btn-remove-post {
  border-radius: 30px;
  &:hover {
    color: #009970;
    background-color: transparent;
    border-color: #009970;
  }
  
  position: relative;
  margin-top: 20px;
  right: -60px;
}


.my-pagination {
  margin: 20px;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}

.blog-post {
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
  margin-top: 10px;
}

.blog-post .blog-img img {
  width: 100%;
  height: 300px;
}

.blog-post .blog-img .overlay,
.blog-post .blog-img .post-meta {
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.blog-post .blog-img .overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.blog-post .blog-img .post-meta {
  bottom: 5%;
  right: 5%;
  z-index: 1;
}

.blog-post .blog-img .post-meta .read-more:hover {
  color: #6dc77a !important;
}

.blog-post .content h1,
.blog-post .content h2,
.blog-post .content h3,
.blog-post .content h4,
.blog-post .content h5,
.blog-post .content h6 {
  line-height: 1.2;
}

.blog-post .content .title {
  font-size: 18px;
}

.blog-post .content .title:hover {
  color: #6dc77a !important;
}

.blog-post .content .author .name:hover {
  color: #6dc77a !important;
}

.blog-post .content .author {
  // display: flex;
  // justify-content: space-between;
}

.blog-post:hover {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.blog-post:hover .blog-img .overlay {
  opacity: 0.65;
}

.blog-post:hover .blog-img .post-meta {
  opacity: 1;
}

.blog-post .post-meta .like i,
.profile-post .like i {
  -webkit-text-stroke: 2px #dd2427;
  -webkit-text-fill-color: transparent;
}

.blog-post .post-meta .like:active i,
.blog-post .post-meta .like:focus i,
.profile-post .like:active i,
.profile-post .like:focus i {
  -webkit-text-stroke: 0px #dd2427;
  -webkit-text-fill-color: #dd2427;
}

.avatar.avatar-ex-sm {
  height: 36px;
}
.shadow {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15) !important;
}

.text-muted {
  color: #8492a6 !important;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.para-desc {
  max-width: 600px;
}
.text-muted {
  color: #8492a6 !important;
}

.section-title .title {
  letter-spacing: 0.5px;
  font-size: 30px;
}

</style>
