<template>
  <div>
    <b-carousel
      id="carousel-1"
      v-model="slide"
      :interval="4000"
      indicators
      background="#ababab"
      style="text-shadow: 1px 1px 2px #333;"
    >

      <!-- <b-carousel-slide :img-src="require('@/assets/img/hero-bg.jpg')"></b-carousel-slide> -->
      <!-- <b-carousel-slide :img-src="require('@/assets/img/hero-bg.jpg')"></b-carousel-slide> -->
      <!-- <b-carousel-slide :img-src="require('@/assets/img/hero-bg.jpg')"></b-carousel-slide> -->


      <!-- Note the classes .d-block and .img-fluid to prevent browser default image alignment -->
      <b-carousel-slide>
        <template #img>
          <img
            class="d-block img-fluid"
            width="2000"
            height="200"
            :src="img1"
            alt="image slot"
          >
        </template>
      </b-carousel-slide>
      <b-carousel-slide>
        <template #img>
          <img
            class="d-block img-fluid"
            width="2000"
            height="200"
            :src="img2"
            alt="image slot"
          >
        </template>
      </b-carousel-slide>
      <b-carousel-slide>
        <template #img>
          <img
            class="d-block img-fluid"
            width="2000"
            height="200"
            :src="img3"
            alt="image slot"
          >
        </template>
      </b-carousel-slide>
      <!-- <b-carousel-slide>
        <template #img>
          <img
            class="d-block img-fluid w-100"
            width="1024"
            height="300"
            :src="img4"
            alt="image slot"
          >
        </template>
      </b-carousel-slide> -->
    </b-carousel>
  </div>
</template>

<script>
  export default {
    name: 'Slider',
    data() {
      return {
        slide: 0,
        sliding: null
      }
    },
    props: {
      img1: String,
      img2: String,
      img3: String
    }
    
  }
</script>

<style scoped>
p,h1,h2,h3,h4,h5,input,label{
  font-family: shabnam;
}
</style>