<template>
  <div id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>افزودن پست جدید</h2>
        </div>
      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- =======Add Post Details Section ======= -->

    <section id="post-details" class="post-details">
      <div class="container">
        <form @submit.prevent="addPost">
          <div class="form-group">
            <label for="name"><h5>نام مکان</h5></label>
            <i class="bx bx-map-alt"></i>
            <input
              type="text"
              class="form-control"
              v-model="postData.title"
              id="name"
              placeholder="نام مکان را وارد کنید"
            />
            <div class="validate"></div>
          </div>

          <div class="form-group row">
            <div class="form-group col-md-6">
              <label for="country"><h5>استان</h5> </label>
              <i class="bx bx-map"></i>
              <select
                v-model="postData.province"
                class="form-control"
                name="country"
                id="country"
              >
                <option
                  v-for="(country, index) in address"
                  :value="country"
                  :key="index"
                >
                  {{ country.name }}
                </option>
              </select>
            </div>
            <div v-if="cities" class="form-group col-md-6">
              <label for="city"><h5>شهر</h5> </label>
              <i class="bx bx-map-pin"></i>
              <select
                v-model="selectedCity"
                class="form-control"
                name="city"
                id="city"
              >
                <option
                  v-for="option in cities"
                  :value="option"
                  :key="option.name"
                >
                  {{ option.name }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label for="message"><h5>توضیحات</h5></label>
            <i class="bx bx-info-square"></i>
            <textarea
              class="form-control"
              name="message"
              rows="5"
              placeholder="توضیحات و جزئیات پست را وارد کنید"
              v-model="postData.description"
            ></textarea>
            <div class="validate"></div>
          </div>

          <div class="form-group">
            <label for="UploadPostContainer">
              <h5>افزودن تصاویر</h5>
            </label>
            <i class="bx bx-image"></i>

            <p>تصاویر مورد نظر را اضافه کنید</p>
            <UploadPostContainer></UploadPostContainer>
          </div>
          <div class="text-center">
            <button
              class="btn btn-rounded text-center"
              type="submit"
              id="submit"
            >
              <span>ثبت</span>
              <i class="bx bx-arrow-back"></i>
            </button>
          </div>
        </form>
      </div>
    </section>
    <!-- End Portfolio Details Section -->
  </div>
  <!-- End #main -->
</template>

<script>
import UploadPostContainer from "./UploadPostContainer.vue";
import { mapState } from "vuex";
import axios from 'axios';
export default {
  name: "Post",
  data() {
    return {
      selectedCountry: null,
      postData: {
        title: "",
        province: "",
        city: "",
        description: "",
      },
      countries: [
        { name: "تهران", topicId: 2 },
        { name: "خراسان رضوی", topicId: 1 },
        { name: "فارس", topicId: 4 },
        { name: "جزایر", topicId: 5 },
        { name: "یزد", topicId: 6 },
        { name: "خراسان شمالی", topicId: 3 },
        { name: "آذربایجان شرقی", topicId: 7 },
      ],
      cities1: [
        { id: 1, name: "topic 1", options: [ "تربت حیدریه"] },
        { id: 2, name: "topic 1", options: ["مشهد"] },
        { id: 3, name: "topic 1", options: ["کاشمر"] },
        { id: 4, name: "topic 2", options: ["تهران"] },
        { id: 5, name: "topic 3", options: ["بجنورد"] },
        { id: 6, name: "topic 4", options: ["شیراز"] },
        { id: 7, name: "topic 5", options: [ "کیش"] },
        { id: 8, name: "topic 5", options: ["قشم"] },
        { id: 9, name: "topic 6", options: ["یزد"] },
        { id: 10, name: "topic 7", options: ["کندوان"] },
      ],
      address : [
        {
          id:1 ,
          name: 'خراسان رضوی',
          cities: [
            {id : 1 , name:"کاشمر"},
            {id : 2 , name:"مشهد"},
            {id : 3 , name:"تربت حیدریه"},
          ],
        },
        {
          id: 2,
          name: "تهران",
          cities: [
            {id : 4 , name:"تهران"},
          ],
        },
        {
          id: 3,
          name: "خراسان شمالی",
          cities: [
            {id : 5 , name:"بجنورد"},
          ],
        },
        {
          id: 4,
          name: "فارس",
          cities: [
            {id : 6 , name:"شیراز"},
          ],
        },
        {
          id: 5,
          name: "جزایر",
          cities: [
            {id : 7 , name:"قشم"},
            {id : 8 , name:"کیش"},
          ],
        },
        {
          id: 6,
          name: "یزد",
          cities: [
            {id : 9 , name:"یزد"},
          ],
        },
        {id: 7,
          name: "آذربایجان شرقی",
          cities: [
            {id : 10 , name:"کندوان"},
          ],
        },
      ],
      selectedTopicOption: null,
      cities: null,
      selectedCity: null,
    };
  },
  components: {
    UploadPostContainer,
  },

  computed: {
    ...mapState({
      uploadedImages: (state) => state.uploadedImages,
      account : state => state.account,
    }),
    selectedCountryTopic() {
      const selected = this.postData.province;
      return selected
        ? this.cities.find((x) => x.id === selected.topicId)
        : null;
    },
  },
  watch: {
    'postData.province'(newValue){
      this.cities = newValue.cities;
    },
    selectedCity(newValue) {
      this.postData.city = newValue.id;
    }
  },
  methods: {
    addPost() {
      if (
        this.uploadedImages == null ||
        this.postData.title == "" ||
        this.postData.description == "" ||
        this.postData.city == ""
      ) {
        this.$toast.open({
          message: " لطفا اطلاعات مورد نیاز را تکمیل کنید",
          type: "error",
        });
      } else {
        let f = new FormData();
  
        f.append("title", this.postData.title);
        f.append("description", this.postData.description);
        f.append("city" , this.postData.city);
        let key;
        for(let image in this.uploadedImages){
            // f.append(image[1].name , image[1]);
          key = "image"
          key = image == 0 ? key : key+(Number(image) + 1 );
          console.log(typeof this.uploadedImages[image][1] );
          f.append(key , this.uploadedImages[image][1])
        }
        

        axios({
          method : 'post',
          url: "/posts_management/post/",
          data: f,
          headers: {
            Authorization : "Token " + this.account.token
          }
        }).then(()=>{
          this.$router.push("/user/profile");
          window.scrollTo(0, 0);
        }).catch((er)=>{
          console.log(er);
        })
        //   f.append(this.uploadedImage[i].name, this.uploadedImage[i].value);

        // console.log(f);
      }
    },
  },
};
</script>

<style scoped>
.form-group i {
  color: #009970;
  padding-right: 15px;
}

form .btn {
  width: 40%;
  margin-top: 20px;
  color: #fff;
  background-color: #009970;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f6f7;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #009970;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# post-details
--------------------------------------------------------------*/
.post-details p {
  color: #3232a759;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f6f6f7;
  margin-top: 100px;
}

.breadcrumbs h2 {
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}
</style>