<template>
  <div id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container profile">
        <div class="d-flex justify-content-between align-items-center">
          <h2>پروفایل</h2>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="row">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1YjmQy7iBycLxXrdwvrl38TG9G_LxSHC1eg&usqp=CAU"
                alt=""
                class="img-fluid rounded-circle"
              />
              <div class="line"></div>
            </div>
            <div class="hline"></div>
          </div>
          <div class="col-md-9">
            <blockquote>
              <h5>
                {{ selectedProfile.first_name }} {{ selectedProfile.last_name }}
              </h5>
              <small
                ><cite title="Source Title"
                  ><i class="bx bx-map"></i> خراسان رضوی، مشهد
                </cite></small
              >
            </blockquote>
            <p>
              <i class="bx bx-envelope"></i> sb@gmail.com <br />
              <i class="bx bx-gift"></i
              >{{
                new Date(selectedProfile.created_at).toLocaleDateString("fa-Ir")
              }}
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- =======Posts Section ======= -->

    <section id="posts" class="posts">
      <div class="container">
        <div class="row" style="margin-bottom:25px">
          <h4>پست‌ها</h4>
          <button class="btn btn-add-post" v-if="isMyProfile" @click="gotoAddPost"> <i class="bx bx-plus"></i> افزودن پست</button>
        </div>
        <Posts @remove="fetchP" :allPosts="posts" :isMyProfile="isMyProfile" v-if="hasPosts"></Posts>
        <div v-else>
          <p>پستی یافت نشد!</p>
        </div>
      </div>
    </section>
  </div>
</template>


<script>
import { mapState } from "vuex";
import axios from "axios";
import Posts from "../main/Posts.vue";
export default {
  components: { Posts },
  name: "profile",
  data() {
    return {
      posts: [],
    };
  },
  

  mounted() {
    axios({
      method: "get",
      url: "/posts_management/post/",
      params: {
        type: "search",
        author__id: this.selectedProfile.id,
      },
    })
      .then((res) => {
        this.posts = res.data.data;
      })
      .catch((err) => {
        console.log(err);
      });
  },

  watch: {
    // posts(){
    //   axios({
    //   method: "get",
    //   url: "/posts_management/post/",
    //   params: {
    //     type: "search",
    //     author__id: this.selectedProfile.id,
    //   },
    // })
    //   .then((res) => {
    //     this.posts = res.data.data;
    //   })
    //   .catch((err) => {
    //     console.log(err);
    //   });
    // }
  },

  computed: {
    ...mapState({
      selectedProfile: (state) => state.selectedProfile,
      account : state => state.account
    }),
    hasPosts() {
      return this.posts.length;
    },
    isMyProfile(){
      return this.account.id == this.selectedProfile.id
    }
  },
  methods: {
    gotoAddPost() {
        this.$router.push("/user/newPost");
        window.scrollTo(0, 0);
    },
    fetchP(){
      axios({
      method: "get",
      url: "/posts_management/post/",
      params: {
        type: "search",
        author__id: this.selectedProfile.id,
      },
      }).then((res) => {
        this.posts = res.data.data;
        console.log(res);
      })
      .catch((err) => {
        console.log(err);
      });
    }
  }
};
</script>

<style scoped lang='scss'>
.profile {
  margin-bottom: 20px;
}

.btn{
  background-color: #009970;
  color: #fff;
  margin-right: 10px;
  border: 1px solid #009970;
}

.btn-add-post {
  border-radius: 30px;
  &:hover {
    color: #009970;
    background-color: transparent;
    border-color: #009970;
  }
}

small {
  color: #009970;
}
.img-fluid {
  width: 50%;
  height: 60%;
}
@media (max-width: 768px) {
  .img-fluid {
    width: 20%;
    height: 80%;
    margin-right: 10px;
  }
  .hline {
    background-color: #009970;
    width: 50%;
    height: 6px;
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .line {
    border-left: 6px solid #009970;
    padding-left: 40px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f6f7;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #009970;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# posts
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f6f6f7;
  margin-top: 100px;
}

.breadcrumbs h2 {
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}
</style>