<template>
  <div class="container-fluid">
    <div class="forms-container">
      <div class="signin-signup">
        <ValidationObserver class="valid" ref="observer" v-slot="{ passes }">
          <form class="sign-in-form" @submit.prevent="passes(login)">
            <h2 class="title">ورود</h2>
            <ValidationProvider
              name="name"
              rules="required"
              v-slot="{ errors }"
            >
              <div class="input-field" :class="{ hasErr: errors.length }">
                <i class="bx bxs-user"></i>
                <input
                  type="name"
                  name="name"
                  tabindex="1"
                  v-model="loginData.username"
                  placeholder="نام کاربری"
                />
              </div>
              <p class="txt-err">{{ errors[0] }}</p>
            </ValidationProvider>

            <ValidationProvider
              name="password"
              rules="required|okPassword|min"
              v-slot="{ errors }"
            >
              <div class="input-field" :class="{ hasErr: errors.length }">
                <i class="bx bxs-lock"></i>
                <input
                  type="password"
                  placeholder="رمز عبور"
                  v-model="loginData.password"
                />
              </div>
              <p class="txt-err">{{ errors[0] }}</p>
            </ValidationProvider>
            <input type="submit" value="ورود" class="btn solid" />
            <p class="social-text">ورود از طریق شبکه های اجتماعی</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="bx bxl-facebook"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="bx bxl-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="bx bxl-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="bx bxl-linkedin"></i>
              </a>
            </div>
          </form>
        </ValidationObserver>
        <ValidationObserver class="valid2" ref="observer" v-slot="{ passes }">
          <form
            action="#"
            class="sign-up-form"
            @submit.prevent="passes(signup)"
          >
            <h2 class="title">ثبت نام</h2>
            <ValidationProvider rules="required" v-slot="{ errors }">
              <div class="input-field" :class="{ hasErr: errors.length }">
                <i class="bx bxs-user"></i>
                <input
                  type="name"
                  v-model="signupData.username"
                  placeholder="نام کاربری"
                />
              </div>
              <p class="txt-err">{{ errors[0] }}</p>
            </ValidationProvider>
            <!-- <ValidationProvider
              name="email"
              rules="required|email"
              v-slot="{ errors }"
          >
            <div class="input-field" :class="{ hasErr: errors.length }">
              <i class="bx bxs-envelope"></i>
              <input
                type="email"
                name="email"
                v-model="signupData.signUpEmail"
                placeholder="ایمیل"
              />
            </div>
            <p class="txt-err">{{ errors[0] }}</p>
          </ValidationProvider> -->
            <ValidationProvider
              name="password"
              vid="confirmation"
              rules="required|okPassword|min"
              v-slot="{ errors }"
            >
              <div class="input-field" :class="{ hasErr: errors.length }">
                <i class="bx bxs-lock"></i>
                <input
                  type="password"
                  v-model="signupData.password"
                  placeholder="رمز عبور"
                />
              </div>
              <p class="txt-err">{{ errors[0] }}</p>
            </ValidationProvider>
            <ValidationProvider
              name="password2"
              rules="confirmed:confirmation|required"
              v-slot="{ errors }"
            >
              <div class="input-field" :class="{ hasErr: errors.length }">
                <i class="bx bxs-lock"></i>
                <input
                  type="password"
                  v-model="signupData.password2"
                  placeholder="تکرار رمز عبور"
                />
              </div>
              <p class="txt-err">{{ errors[0] }}</p>
            </ValidationProvider>
            <ValidationProvider
              name="name"
              rules="required"
              v-slot="{ errors }"
            >
              <div
                class="input-field col-lg-6"
                :class="{ hasErr: errors.length }"
              >
                <i class="bx bxs-user"></i>
                <input
                  type="name"
                  v-model="signupData.first_name"
                  placeholder="نام "
                />
              </div>
              <p class="txt-err">{{ errors[0] }}</p>
            </ValidationProvider>
            <ValidationProvider rules="required" v-slot="{ errors }">
              <div
                class="input-field col-lg-6"
                :class="{ hasErr: errors.length }"
              >
                <i class="bx bxs-user"></i>
                <input
                  type="name"
                  v-model="signupData.last_name"
                  placeholder="نام خوانوادگی"
                />
              </div>
              <p class="txt-err">{{ errors[0] }}</p>
            </ValidationProvider>

            <input type="submit" class="btn" value="ثبت نام" />
            <!-- <p class="social-text">ثبت نام از طریق شبکه های اجتماعی</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="bx bxl-facebook"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="bx bxl-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="bx bxl-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="bx bxl-linkedin"></i>
              </a>
            </div> -->
          </form>
        </ValidationObserver>
      </div>
    </div>

    <div class="panels-container">
      <p></p>
      <div class="panel left-panel">
        <div class="content">
          <h3>حساب کاربری ندارید؟</h3>
          <p>
            !با ایجاد حساب کاربری از خدمات به اشتراک گذاری تصاویر و نشان کردن
            مکان های مورد علاقه خود استفاده کنید.
          </p>
          <button class="btn transparent" id="sign-up-btn">ثبت نام</button>
        </div>
        <img src="img/log.svg" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>دارای حساب کاربری هستید؟</h3>
          <p>به صفحه ورود بروید.</p>
          <button class="btn transparent" id="sign-in-btn">ورود</button>
        </div>
        <img src="img/register.svg" class="image" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
import { extend } from "vee-validate";
import { required, email, confirmed } from "vee-validate/dist/rules";
import axios from "axios";
import { mapState } from "vuex";
extend("required", {
  ...required,
  message: " * پر کردن این فیلد الزامی است!",
});
extend("email", {
  ...email,
  message: "* ایمیل معتبر نیست!",
});
extend("confirmed", {
  ...confirmed,
  message: "* رمز عبور،با رمز عبور تعیین شده مطابقت ندارد!",
});

extend("okPassword", {
  validate(value) {
    var re = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z])/;
    return re.test(value);
  },
  message: "* رمز عبور باید شامل حروف لاتین کوچک و بزرگ و اعداد باشد!",
});

extend("min", {
  validate(value) {
    return value.length > 7;
  },
  message: "از حداقل 8 کاراکتر استفاده کنید!",
});

export default {
  name: "account",
  data() {
    return {
      loginData: {
        username: "",
        password: "",
      },
      signupData: {
        username: "",
        //signUpEmail: "",
        first_name: "",
        last_name: "",
        password: "",
        password2: "",
      },
    };
  },
  computed: {
    ...mapState({}),
  },
  mounted() {
    const sign_in_btn = document.querySelector("#sign-in-btn");
    const sign_up_btn = document.querySelector("#sign-up-btn");
    const container = document.querySelector(".container-fluid");

    sign_up_btn.addEventListener("click", () => {
      container.classList.add("sign-up-mode");
    });

    sign_in_btn.addEventListener("click", () => {
      container.classList.remove("sign-up-mode");
    });
  },
  methods: {
    login() {
      axios
        .post("/system_management/login/", this.loginData)
        .then((resposnse) => {
          this.$store.dispatch("login", resposnse.data.data).then(() => {
            this.$cookies.set("account", resposnse.data.data);
            this.$router.replace("/");
            window.scrollTo(0, 0);
            this.$toast.open({
              message: " ورود با موفقیت انجام شد",
              type: "success",
            });
          });
        });
    },
    signup() {
      axios
        .post("/system_management/register/", this.signupData)
        .then((resposnse) => {
          this.$store.dispatch("signup", resposnse.data.data).then(() => {
            this.$cookies.set("account", resposnse.data.data);
            this.$router.replace("/");
            window.scrollTo(0, 0);
            this.$toast.open({
              message: " ثبت نام با موفقیت انجام شد",
              type: "success",
            });
          });
        });
    },
  },
};
</script>

<style scoped lang="scss">
.container-fluid {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 105%; //vase moshkele paiin raftane signin //org 50
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  //overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

form {
  > span {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 20px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  // margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  border: 1px solid #f0f0f0;
  &.hasErr {
    //border-color: red;
    box-shadow: 1px 1px 5px 1px rgb(243, 73, 73);
  }
}
.container-fluid .forms-container .signin-signup .txt-err {
  color: rgb(243, 73, 73);
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  width: 95%;

}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.social-icon:hover {
  color: #009970;
  border-color: #009970;
}

.btn {
  width: 150px;
  background-color: #009970;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #009970;
}
.panels-container {
  //inside circle
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container-fluid:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #009970 0%, #00664b 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  // padding: 3rem 12% 2rem 17%
  margin-left: auto;
  margin-right: 25px;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .image,
.right-panel .content {
  transform: translateX(800px);
}

/* ANIMATION */

.container-fluid.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container-fluid.sign-up-mode .left-panel .image,
.container-fluid.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container-fluid.sign-up-mode .signin-signup {
  left: 25%;
  top: 15%; //sabte nam //80 org
}

.container-fluid.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container-fluid.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container-fluid.sign-up-mode .right-panel .image,
.container-fluid.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container-fluid.sign-up-mode .left-panel {
  pointer-events: none;
}

.container-fluid.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container-fluid {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
    top: 160%;
    /* right: -3%; */
    left: 53%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
    margin: 0;
    margin-right: auto;
    .content {
      padding-right: 0 !important;
    }
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container-fluid:before {
    //circle
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container-fluid.sign-up-mode:before {
    //circle
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container-fluid.sign-up-mode .left-panel .image,
  .container-fluid.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container-fluid.sign-up-mode .right-panel .image,
  .container-fluid.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }
  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container-fluid.sign-up-mode .signin-signup {
    top: -45%; //signup
    transform: translate(-24%, 0);
  }
}

@media (max-width: 650px) {
  .signin-signup {
    width: 100%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
    top: 145%;
    /* right: -3%; */
    left: 53%;
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .signin-signup {
    width: 100%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
    top: 140%;
    /* right: -3%; */
    left: 53%;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container-fluid {
    padding: 1.5rem;
  }

  .container-fluid:before {
    bottom: 72%;
    left: 50%;
  }

  .container-fluid.sign-up-mode:before {
    bottom: 23%;
    left: 50%;
  }
}
</style>