<template>
  <div
    id="my-strictly-unique-vue-upload-multiple-image"
    style="display: flex; justify-content: center"
  >
    <vue-upload-multiple-image
      class="upload-container"
      @upload-success="uploadImageSuccess"
      @before-remove="beforeRemove"
      @edit-image="editImage"
      :data-images="images"
      idUpload="myIdUpload"
      editUpload="myIdEdit"
      dragText="عکس را درون کادر بکشید"
      browseText="انتخاب عکس"
      primaryText="آپلود شد!"
      popupText="عکس با موفقیت آپلود شد!"
      dropText="عکس را در اینجا رها کنید..."
    ></vue-upload-multiple-image>
  </div>
</template>

<script>
import VueUploadMultipleImage from "vue-upload-multiple-image";
export default {
  name: "uploadPostContainer",
  data() {
    return {
      images: [],
    };
  },
  components: {
    VueUploadMultipleImage,
  },
  methods: {
    uploadImageSuccess(formData, index, fileList) {
      // console.log('data', formData, index, fileList)
      index;
      fileList;
      for (let i of formData.entries()) {
        this.$store.dispatch("uplaodImage", i);
      }
      // Upload image api
      // axios.post('http://your-url-upload', formData).then(response => {
      //   console.log(response)
      // })
    },
    beforeRemove(index, done, fileList) {
      console.log("index", index, fileList);
      var r = confirm("remove image");
      if (r == true) {
        done();
      }
    },
    editImage(formData, index, fileList) {
      console.log("edit data", formData, index, fileList);
    },
  },
};
</script>

<style>
#my-strictly-unique-vue-upload-multiple-image {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#my-strictly-unique-vue-upload-multiple-image
  .upload-container
  .image-container {
  width: 800px;
  height: 300px;
}

@media (max-width: 900px) {
  #my-strictly-unique-vue-upload-multiple-image
    .upload-container
    .image-container {
    width: 500px;
    height: 200px;
  }
}

@media (max-width: 600px) {
  #my-strictly-unique-vue-upload-multiple-image
    .upload-container
    .image-container {
    width: 300px;
    height: 150px;
  }
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>